# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env
*.env

# Mac system files
.DS_Store

# Streamlit hidden files
.streamlit/wkrt
# VSCode or PyCharm settings
.vscode/
.idea/

# Jupyter / Scratch
.ipynb_checkpoints/

# 기타
*.log
.venv/
